.login-form{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    & .slider{
        background-image: url("../images/slider/silder.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }    
    & .card{
        & .holder{
            & .card-header{
                @extend%sec-color;
                padding: 3rem !important;
                border: none !important;
            }
            & .card-body{
                @media (min-width:567px) {
                    padding:0 2.8rem !important;
                }
                & .form-group {
                    margin-bottom:1rem ;
                    & input{
                        font-size: 1.2rem;
                        @extend%main-color;
                        padding: .5rem .5rem;
                        height: 4rem;
                        &:not(:last-of-type){
                            margin-bottom: .5rem;
                        }
                    }
                    
                }
                & button{
                    font-size: 2rem !important;
                    height: 4rem
                }
            }
        }
    }
    & .regster-requst{
        @extend%sec-color;
        padding: 2rem 0;
        border: .1rem solid rgba($color: #000000, $alpha: .1);
        font-size: 1.2rem;
    }   
    & .download{
        & span{
            font-size: 1.2rem;
            transition: opacity .5s ease-in-out;
            -webkit-transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -ms-transition: opacity .5s ease-in-out;
            -o-transition: opacity .5s ease-in-out;
            display: none;
        }
    }
    & .slider{
        & .statge{
            & .slider-items{
                padding-top: 9.9rem;
                padding-left: 14.2rem;
                @media (max-width:1399px) {
                    padding-top: 9.5rem;
                    padding-left: 11.5rem;
                }
                @media (max-width:1200px) {
                    padding-top: 9.1rem;
                    padding-left: 8.8rem;
                }
                & img{
                    width: 23.5rem;
                    height: auto;
                    top: 8.4rem;
                    right: 2.1rem;
                    display: none;
                    @media (max-width:1399px) {
                        width: 22.5rem;
                    }
                    @media (max-width:1200px) {
                        width: 21.5rem;
                    }
                    
                    &:first-of-type{
                        display: block;
                    }
                }
                

            }
        }
    }
} 
.holder{
    width: 90%;
    margin: 0 auto;
    @media(max-width:567px){
        width: 95%;

    }
}

.size-fix{
    padding: 5rem 0;
}
