.navigation{
    @extend%sec-color ;
    padding: 1rem 0 ;
    & .navbar_{
        margin-bottom:0 ;
        &.btns{
            width: 14rem ;
        }
        & .navbar_items{
            position: relative;
            padding-top: 1rem ;
            & .navbar_item{
                font-size: 2.5rem ;
                padding: 0 1rem ;
                @extend%font-color ;
                &.btn{
                    font-size: 1.5rem;
                    &:hover{
                        color: white !important;
                    }
                }
            }
            & .user-image{
                display: inline-block;
                width: 4rem;
                height: 4rem;
            }
            & .dropdown_{
                position: absolute;
                top: 200%;
                right: 0;
                visibility: hidden;
                opacity: 0;
                transition: all .3s ease-in-out;
                border-radius: .7rem;   
                box-shadow:0px 6px 20px 0px rgba(0,0,0,.2);  
                padding:.5rem;    
                width: 15rem;
                z-index: 0;  
                @extend%main-color;
                &::after{
                    content: "\f0d8";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    position: absolute;
                    top: 0;
                    right: 2rem;
                    color:white;
                    font-size: 3.2rem;
                    background-color: transparent;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 0;
                    transition: all .3s ease-in-out;
                }
                & .dropdown_item{
                    margin-bottom: .5rem;
                    font-size: 2rem;
                    text-align: center;
                    & span{
                        margin-left: 1.5rem;
                    }
                    & a{
                        width: 75% ;
                        text-decoration: none ;
                        @extend%font-color ;
                        margin: 0 auto ;
                    }
                    &:hover{
                        @extend%main-color;
                        border-left:.1rem solid black ;
                    }
                }
                &.active{
                    visibility: visible;
                    opacity: 1;
                    top: 160%;
                    z-index: 1;
                    &::after{
                        visibility: visible;
                        opacity: 1;
                        top: -3rem;
                        z-index: 1;
                    }
                }
            }
        }
    }
    & .logo_{
        padding: 0 .5rem ;
        & .img{
            @extend%font-color ;
            font-size: 2.5rem ;
            &::after{
                content: "|";
                font-weight: 400;
                font-size: 3rem ;
                margin: 0  .5rem;
                color: rgba($color-font ,.2);
            
            }
        }
        & .logo_png{
            padding-top:1rem ;
            width: 9rem;
        }
    }
}